/* color variables */
:root {
  --white: #f6f4e7;
  --black: #7e483a;
  --green-dark: #4f7944;
  --green-lime: #bec458;
  --red: #d5402c;
  --yellow: #f0cb43;
  --purple-light: #c4988f;
  --purple: #89598c;
  --blue: #415f9f;
  --brown: #7e483a;
  --light-brown: #ae8b5f;
  --neutral: #f1efd8;
}

/* colors for this */
:root {
  --color-background: var(--neutral) --color-text: var(--neutral);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--brown) --color-text: var(--neutral);
  }
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  color: var(--black);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  font-weight: normal;
  font-family: 'Cutive Mono';
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  max-width: 1280px;
  font-weight: normal;
  background-color: var(--neutral);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  inset: 0;
}
@supports (-webkit-touch-callout: none) {
  html,
  body {
    height: -webkit-fill-available;
  }
  #app {
    min-height: -webkit-fill-available;
  }
}

/* all my font faces hahah */
/* ===== Variable Fredoka  ===== */
@font-face {
  font-family: 'Fredoka';
  src: url('./fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

/* ===== Cutive Mono ===== */
@font-face {
  font-family: 'Cutive Mono';
  src: url('./fonts/CutiveMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ===== IBM ===== */
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM';
  src: url('./fonts/IBMPlexMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: 'Cutive Mono';
}

h1 {
  font-family: Fredoka;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 8px;
  font-size: 30px;
}
h2 {
  font-size: 12px;
  font-family: 'IBM';
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: bold;
}
.spacer {
  height: 20px;
}
h4 {
  font-family: Futura;
  font-size: 20px;
}
p {
  font-size: 10px;
  letter-spacing: 0px;
}
