@import './base.css';
button,
.btn {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-family: 'IBM';
  font-weight: 700;
  letter-spacing: 4px;
  padding: 10px;
  background-color: var(--red);
  color: var(--neutral);
  border: 0.5px solid var(--brown);
  font-size: 10px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn:disabled {
  opacity: 50%;
  pointer-events: none;
}
button:hover,
.btn:hover {
  background-color: var(--black);
  color: var(--neutral);
  letter-spacing: 4.5px;
}

button:active,
.btn:active {
  background-color: var(--black);
  color: var(--white);
  border: 0;
  margin: 0.5px;
}
